@import "acm.scss";
@import "shared.scss";
@import "shared_override.scss";

header {
  .actions, .context {
    display: none;
  }
}

.display-block {
    display: block;
    float: none;
}

img.plot_non_c {
  width: 22em !important;
  height: auto !important;
}

img.plot_c {
  width: 5em !important;
  height: auto !important;
}
